/target
**/*.rs.bk
Cargo.lock.bak
.env
.env.local
.DS_Store
*.log
/data/
/tmp/
.idea/
.vscode/
*.swp
node_modules/
.cargo/registry
.cargo/git
/dist
/out
*.sqlite
*.sqlite-journal

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
